In [1]:
import pandas as pd

In [2]:
co2_df = pd.read_csv('./Resources/owid-co2-data.csv')
temps_df = pd.read_csv('./Resources/clean_Global_temps_1901_to_2016.csv')

In [3]:
co2_df

,iso_code,country,year,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,trade_co2_share,co2_per_capita,...,ghg_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,primary_energy_consumption,energy_per_capita,energy_per_gdp,population,gdp
0,AFG,Afghanistan,1949,0.015,NaN,NaN,NaN,NaN,NaN,0.002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7663783.0,NaN
1,AFG,Afghanistan,1950,0.084,475.000,0.070,NaN,NaN,NaN,0.011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7752000.0,1.949480e+10
2,AFG,Afghanistan,1951,0.092,8.696,0.007,NaN,NaN,NaN,0.012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7840000.0,2.006385e+10
3,AFG,Afghanistan,1952,0.092,0.000,0.000,NaN,NaN,NaN,0.012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7936000.0,2.074235e+10
4,AFG,Afghanistan,1953,0.106,16.000,0.015,NaN,NaN,NaN,0.013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8040000.0,2.201546e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24011,ZWE,Zimbabwe,2014,11.962,2.838,0.330,12.760,0.798,6.671,0.880,...,4.865,11.24,0.827,6.27,0.461,NaN,NaN,NaN,13587000.0,2.474828e+10
24012,ZWE,Zimbabwe,2015,12.163,1.685,0.202,13.010,0.847,6.966,0.880,...,4.885,11.87,0.859,6.68,0.484,NaN,NaN,NaN,13815000.0,2.503057e+10
24013,ZWE,Zimbabwe,2016,10.807,-11.146,-1.356,11.809,1.001,9.264,0.770,...,4.703,11.92,0.850,6.55,0.467,NaN,NaN,NaN,14030000.0,2.515176e+10
24014,ZWE,Zimbabwe,2017,12.026,11.274,1.218,12.531,0.505,4.198,0.845,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14237000.0,NaN
24015,ZWE,Zimbabwe,2018,12.263,1.969,0.237,NaN,NaN,NaN,0.849,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14439000.0,NaN

In [4]:
temps_df

      iso_code       country  year  Temperature(C)
0          AFG   Afghanistan  1901       13.172872
1          AFG   Afghanistan  1902       13.342649
2          AFG   Afghanistan  1903       12.006417
3          AFG   Afghanistan  1904       12.531729
4          AFG   Afghanistan  1905       12.267143
...        ...           ...   ...             ...
22731      ZWE      Zimbabwe  2012       21.910075
22732      ZWE      Zimbabwe  2013       21.624350
22733      ZWE      Zimbabwe  2014       21.710483
22734      ZWE      Zimbabwe  2015       22.327625
22735      ZWE      Zimbabwe  2016       22.310167

[22736 rows x 4 columns]

In [5]:
#compare countries in each dataset
co2_names = co2_df['country'].unique().tolist()
co2_names

['Afghanistan',
 'Africa',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antarctic Fisheries',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Asia',
 'Asia (excl. China & India)',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bonaire Sint Eustatius and Saba',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Christmas Island',
 'Colombia',
 'Comoros',
 'Republic of the Congo',
 'Cook Islands',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czechia',
 'Czech Republic',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'EU-27',
 'EU-28',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Europe',
 'Europe (excl. EU-27)',
 'Europe (excl. EU-28)',
 'Faeroe Islands',
 'Falkland Islands',
 'Fiji',
 'Finland',
 'France',
 'French Equatorial Africa',
 'French Guiana',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'International transport',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'KP Annex B',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kosovo',
 'Kuwait',
 'Kuwaiti Oil Fires',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macao',
 'Macau',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Federated States of Micronesia',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'Netherlands Antilles',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'Non KP Annex B',
 'Non-OECD',
 'North America',
 'North America (excl. USA)',
 'North Korea',
 'North Macedonia',
 'Norway',
 'OECD',
 'Oceania',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Reunion',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Helena',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Pierre and Miquelon',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten (Dutch part)',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South America',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Statistical Difference',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United Korea',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Wallis and Futuna Islands',
 'World',
 'Yemen',
 'Yugoslavia',
 'Zambia',
 'Zanzibar',
 'Zimbabwe']

In [6]:
temps_df['country'].unique().tolist()

[' Afghanistan',
 ' Angola',
 ' Albania',
 ' Andorra',
 ' United Arab Emirates',
 ' Argentina',
 ' Armenia',
 ' Antigua and Barbuda',
 ' Australia',
 ' Austria',
 ' Azerbaijan',
 ' Burundi',
 ' Belgium',
 ' Benin',
 ' Burkina Faso',
 ' Bangladesh',
 ' Bulgaria',
 ' Bahrain',
 ' Bahamas',
 ' Bosnia and Herzegovina',
 ' Belarus',
 ' Belize',
 ' Bolivia',
 ' Brazil',
 ' Barbados',
 ' Brunei',
 ' Bhutan',
 ' Botswana',
 ' Central African Republic',
 ' Canada',
 ' Switzerland',
 ' Chile',
 ' China',
 " Cote d'Ivoire",
 ' Cameroon',
 ' Democratic Republic of the Congo',
 ' Republic of the Congo',
 ' Colombia',
 ' Comoros',
 ' Cape Verde',
 ' Costa Rica',
 ' Cuba',
 ' Cyprus',
 ' Czech Republic',
 ' Germany',
 ' Djibouti',
 ' Dominica',
 ' Denmark',
 ' Dominican Republic',
 ' Algeria',
 ' Ecuador',
 ' Egypt',
 ' Eritrea',
 ' Spain',
 ' Estonia',
 ' Ethiopia',
 ' Finland',
 ' Fiji',
 ' France',
 ' Faroe Islands',
 ' Federated States of Micronesia',
 ' Gabon',
 ' United Kingdom',
 ' Georgia',
 ' Ghana',
 ' Guinea',
 ' Gambia',
 ' Guinea-Bissau',
 ' Equatorial Guinea',
 ' Greece',
 ' Grenada',
 ' Greenland',
 ' Guatemala',
 ' Guyana',
 ' Honduras',
 ' Croatia',
 ' Haiti',
 ' Hungary',
 ' Indonesia',
 ' India',
 ' Ireland',
 ' Iran',
 ' Iraq',
 ' Iceland',
 ' Israel',
 ' Italy',
 ' Jamaica',
 ' Jordan',
 ' Japan',
 ' Kazakhstan',
 ' Kenya',
 ' Kyrgyzstan',
 ' Cambodia',
 ' Kiribati',
 ' St. Kitts and Nevis',
 'South Korea',
 ' Kuwait',
 ' Laos',
 ' Lebanon',
 ' Liberia',
 ' Libya',
 ' St. Lucia',
 ' Liechtenstein',
 ' Sri Lanka',
 ' Lesotho',
 ' Lithuania',
 ' Luxembourg',
 ' Latvia',
 ' Morocco',
 ' Monaco',
 ' Moldova',
 ' Madagascar',
 ' Maldives',
 ' Mexico',
 ' Marshall Islands',
 ' Macedonia',
 ' Mali',
 ' Malta',
 ' Myanmar',
 ' Montenegro',
 ' Mongolia',
 ' Northern Mariana Islands',
 ' Mozambique',
 ' Mauritania',
 ' Mauritius',
 ' Malawi',
 ' Malaysia',
 ' Namibia',
 ' New Caledonia',
 ' Niger',
 ' Nigeria',
 ' Nicaragua',
 ' Netherlands',
 ' Norway',
 ' Nepal',
 ' New Zealand',
 ' Oman',
 ' Pakistan',
 ' Panama',
 ' Peru',
 ' Philippines',
 ' Palau',
 ' Papua New Guinea',
 ' Poland',
 ' Puerto Rico',
 'North Korea',
 ' Portugal',
 ' Paraguay',
 ' Qatar',
 ' Romania',
 ' Russia',
 ' Rwanda',
 ' Saudi Arabia',
 ' Sudan',
 ' Senegal',
 ' Singapore',
 ' Solomon Islands',
 ' Sierra Leone',
 ' El Salvador',
 ' Somalia',
 ' Serbia',
 ' South Sudan',
 ' Sao Tome and Principe',
 ' Suriname',
 ' Slovakia',
 ' Slovenia',
 ' Sweden',
 ' Swaziland',
 ' Seychelles',
 ' Syria',
 ' Chad',
 ' Togo',
 ' Thailand',
 ' Tajikistan',
 ' Turkmenistan',
 ' Timor Leste',
 ' Tonga',
 ' Trinidad and Tobago',
 ' Tunisia',
 ' Turkey',
 ' Tuvalu',
 ' Tanzania',
 ' Uganda',
 ' Ukraine',
 ' Uruguay',
 ' United States',
 ' Uzbekistan',
 ' St. Vincent and the Grenadines',
 ' Venezuela',
 ' Vietnam',
 ' Vanuatu',
 ' Samoa',
 ' Yemen',
 ' South Africa',
 ' Zambia',
 ' Zimbabwe']

In [7]:
# remove space before country in temps_df

temps_df.country = temps_df.country.str.lstrip()
temp_names = temps_df['country'].unique().tolist()
temp_names

['Afghanistan',
 'Angola',
 'Albania',
 'Andorra',
 'United Arab Emirates',
 'Argentina',
 'Armenia',
 'Antigua and Barbuda',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Burundi',
 'Belgium',
 'Benin',
 'Burkina Faso',
 'Bangladesh',
 'Bulgaria',
 'Bahrain',
 'Bahamas',
 'Bosnia and Herzegovina',
 'Belarus',
 'Belize',
 'Bolivia',
 'Brazil',
 'Barbados',
 'Brunei',
 'Bhutan',
 'Botswana',
 'Central African Republic',
 'Canada',
 'Switzerland',
 'Chile',
 'China',
 "Cote d'Ivoire",
 'Cameroon',
 'Democratic Republic of the Congo',
 'Republic of the Congo',
 'Colombia',
 'Comoros',
 'Cape Verde',
 'Costa Rica',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'Germany',
 'Djibouti',
 'Dominica',
 'Denmark',
 'Dominican Republic',
 'Algeria',
 'Ecuador',
 'Egypt',
 'Eritrea',
 'Spain',
 'Estonia',
 'Ethiopia',
 'Finland',
 'Fiji',
 'France',
 'Faroe Islands',
 'Federated States of Micronesia',
 'Gabon',
 'United Kingdom',
 'Georgia',
 'Ghana',
 'Guinea',
 'Gambia',
 'Guinea-Bissau',
 'Equatorial Guinea',
 'Greece',
 'Grenada',
 'Greenland',
 'Guatemala',
 'Guyana',
 'Honduras',
 'Croatia',
 'Haiti',
 'Hungary',
 'Indonesia',
 'India',
 'Ireland',
 'Iran',
 'Iraq',
 'Iceland',
 'Israel',
 'Italy',
 'Jamaica',
 'Jordan',
 'Japan',
 'Kazakhstan',
 'Kenya',
 'Kyrgyzstan',
 'Cambodia',
 'Kiribati',
 'St. Kitts and Nevis',
 'South Korea',
 'Kuwait',
 'Laos',
 'Lebanon',
 'Liberia',
 'Libya',
 'St. Lucia',
 'Liechtenstein',
 'Sri Lanka',
 'Lesotho',
 'Lithuania',
 'Luxembourg',
 'Latvia',
 'Morocco',
 'Monaco',
 'Moldova',
 'Madagascar',
 'Maldives',
 'Mexico',
 'Marshall Islands',
 'Macedonia',
 'Mali',
 'Malta',
 'Myanmar',
 'Montenegro',
 'Mongolia',
 'Northern Mariana Islands',
 'Mozambique',
 'Mauritania',
 'Mauritius',
 'Malawi',
 'Malaysia',
 'Namibia',
 'New Caledonia',
 'Niger',
 'Nigeria',
 'Nicaragua',
 'Netherlands',
 'Norway',
 'Nepal',
 'New Zealand',
 'Oman',
 'Pakistan',
 'Panama',
 'Peru',
 'Philippines',
 'Palau',
 'Papua New Guinea',
 'Poland',
 'Puerto Rico',
 'North Korea',
 'Portugal',
 'Paraguay',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saudi Arabia',
 'Sudan',
 'Senegal',
 'Singapore',
 'Solomon Islands',
 'Sierra Leone',
 'El Salvador',
 'Somalia',
 'Serbia',
 'South Sudan',
 'Sao Tome and Principe',
 'Suriname',
 'Slovakia',
 'Slovenia',
 'Sweden',
 'Swaziland',
 'Seychelles',
 'Syria',
 'Chad',
 'Togo',
 'Thailand',
 'Tajikistan',
 'Turkmenistan',
 'Timor Leste',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Tuvalu',
 'Tanzania',
 'Uganda',
 'Ukraine',
 'Uruguay',
 'United States',
 'Uzbekistan',
 'St. Vincent and the Grenadines',
 'Venezuela',
 'Vietnam',
 'Vanuatu',
 'Samoa',
 'Yemen',
 'South Africa',
 'Zambia',
 'Zimbabwe']

In [8]:
#find which country names are different between dataframes

def Diff(li1, li2):
    li_dif = [i for i in li1 + li2 if i not in li1 or i not in li2]
    return li_dif

Diff(co2_names, temp_names)

['Africa',
 'Anguilla',
 'Antarctic Fisheries',
 'Aruba',
 'Asia',
 'Asia (excl. China & India)',
 'Bermuda',
 'Bonaire Sint Eustatius and Saba',
 'British Virgin Islands',
 'Cayman Islands',
 'Christmas Island',
 'Cook Islands',
 'Curacao',
 'Czechia',
 'EU-27',
 'EU-28',
 'Eswatini',
 'Europe',
 'Europe (excl. EU-27)',
 'Europe (excl. EU-28)',
 'Faeroe Islands',
 'Falkland Islands',
 'French Equatorial Africa',
 'French Guiana',
 'French Polynesia',
 'Gibraltar',
 'Guadeloupe',
 'Hong Kong',
 'International transport',
 'KP Annex B',
 'Kosovo',
 'Kuwaiti Oil Fires',
 'Macao',
 'Macau',
 'Martinique',
 'Montserrat',
 'Nauru',
 'Netherlands Antilles',
 'Niue',
 'Non KP Annex B',
 'Non-OECD',
 'North America',
 'North America (excl. USA)',
 'North Macedonia',
 'OECD',
 'Oceania',
 'Palestine',
 'Reunion',
 'Saint Helena',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Pierre and Miquelon',
 'Saint Vincent and the Grenadines',
 'Sint Maarten (Dutch part)',
 'South America',
 'Statistical Difference',
 'Taiwan',
 'Turks and Caicos Islands',
 'United Korea',
 'Wallis and Futuna Islands',
 'World',
 'Yugoslavia',
 'Zanzibar',
 'Faroe Islands',
 'St. Kitts and Nevis',
 'St. Lucia',
 'Monaco',
 'Macedonia',
 'Northern Mariana Islands',
 'Swaziland',
 'St. Vincent and the Grenadines']